@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Phone Number: @ViewBag.FormattedPhoneNum</h3>
<h3>Email Address: @Html.DisplayFor(model => model.EmailAddress)</h3>

<p>@Html.ActionLink("Show All Clients", "Index")</p>
<p>@Html.ActionLink("Show All Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
